@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #38003c;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #00ff85;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.btn {
    border: 2px solid;
    border-color: #00ff85;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

#question {
    text-align: center;
    font-size: 130%;
}

.btn:hover {
    border-color: #38003c;
}

.button-correct {

}

.btn-wrong {

}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    align-items: flex-start;
}